[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flake8 = "*"
black = "==21.5b2"
pytest = "*"
vulture = "*"
rope = "*"
twine = "*"
bump2version = "*"
build = "*"

[requires]
python_version = "3.8"
